.profile_dropdown {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  &_header {
    border-radius: var(--border-rad);
    transition: all 0.3s ease;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    &_status {
      padding: 10px;
    }

    a {
      display: flex;
      flex-direction: row;
      gap: 10px;
      text-decoration: none;
      padding: 10px;
      transition: all 0.3s ease;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 24px;

      span {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
      }

      small {
        font-size: 13px;
        color: var(--color-sc);
        line-height: initial;
      }
    }
  }

  &_menu {
    i {
      font-size: 15px;
    }

    &_mini {
      display: grid;
      grid-template-columns: 78px 78px 78px;
      grid-template-rows: 78px 78px;
      grid-gap: 8px;
      margin-bottom: 1rem;
      padding: 0 10px;

      &_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: var(--color-bg-skeleton);
        border-radius: var(--border-rad);
        transition: all 0.3s ease;
        font-size: 12px;

        &:hover {
          background-color: var(--color-hover);
          cursor: pointer;
        }

        i {
          font-size: 18px;
        }
      }
    }

    a {  
      text-decoration: none;
      font-weight: 500;
      color: var(--color-sc);

      &:hover {
        color: #fff;
      }
    }
  }

  &_footer {
    color: var(--color-sc);
    padding: 0 10px;
    line-height: 17px;
    font-size: 12px;

    a {
      color: var(--color-sc);     
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        color: #fff;
      }
    }
  }

  &_divisor {
    height: 1px;
    margin: 0.7rem 10px;
    background-color: var( --color-card-divisor);
  }
}