.sidebar {
    position: relative;
    min-height: 100vh;
    padding: 0px 10px;
    border-right: 2px solid #293743;
    grid-area: sidebar;
    z-index: 10;
    // transition: all 0.3s ease;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        height: 60px;
        padding: 0px 6px;

        &_title {
            color: #fff;
            font-size: 26.5px;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }
    }

    &__logo {
        height: 42px;
    }

    &__nav {
        list-style: none;
        padding: 0px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;

        &_link {
            display: flex;
            align-items: center;
            color: var(--color-sc);
            text-decoration: none;
            margin: 6px 0px;
            
            &:hover {
                color: #fff;
            }

            i {
                font-size: 18px;
                margin-right: 10px;
            }
        }

        &_item {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            min-height: 44px;
            font-size: 15px;
            border-radius: 8px;
            transition: color, background-color 0.3s ease;

            &:hover {
                background-color: var(--color-hover);
                cursor: pointer;
                color: #fff;
            }
        }

        a.active &_item {
            background-color: var(--color-hover);
            cursor: pointer;
            color: #fff;  
        }
    }

    &__additional_info {
        width: 230px;
        position: absolute;
        bottom: 10px;
        text-align: center;
        color: var(--color-sc);

        a {
            font-size: 13px;
            color: var(--color-sc);
            text-decoration: none;
            transition: all 0.1s ease;
    
            &:hover {
                color: #fff;
                cursor: pointer;
            }
        }
    }
    
    &__toggle_butt {
        position: absolute;
        top: 15px;
        right: -15px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border: 2px solid #293743;
        border-radius: 50%;
        color: #fff;
        font-size: 16px;
        background-color: var(--color-bg-main);
        padding: 0;
        
        i {
            transition: all 0.5s ease;
        }
    }
}

.divisor-line {
    border-bottom: 2px solid #293743;
    margin: 20px 0px;
}


.sidebar_new_badge {
    position: absolute;
    padding: 0.4em 0.6em;
    right: 14px;
    background-color: var(--color-blue);
    font-size: 11px;
    font-weight: 500;

    &_closed {
        position: absolute;
        top: 10px;
        right: 9px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: var(--color-blue);
    }
}

/*flame icon*/
.fi-rr-flame, .fi-sr-flame {
    color: var(--color-green);
}