.homepage {
  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - 360px) 320px;
    grid-gap: 40px;

    aside {
      display: flex;
      flex-direction: column;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    
    a {
      color: var(--color-sc);
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }
}
  

.divisor_line {
  height: 1px;
  background-color: #293743;
  margin: 25px 0px;
}