.card {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0px;
  }

  &__signout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: var(--color-bg-card);
    border-radius: var(--border-rad);
    box-shadow: var(--card-shadow);
  }

  &__img {
    margin-bottom: 1rem;

    img {
      animation: swing 0.5s;
	    transform-origin: 50% 0%;
    }
  }

  &__text {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1rem;
  }

  &__form {
    width: 100%;

    button {
      width: 100%;
    }
  }  
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
  	-webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  50% {
  	-webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

