@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*:before,
*:after{
	box-sizing: border-box;
}

:root {
  --border-rad: 8px;
  --card-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.24);

  --color-green: #70b01f;
  --color-blue: #0084ff;
  --color-bg-main: #152028;
  --color-bg-card: #202e39;
  --color-hover: #101b23;
  --color-sc: #7f8c96;
}

html, body {
  margin: 0;
  color: #fff;
  background-color: var(--color-bg-main);
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

i {
  display: flex;
  align-items: center;
}

input {
  font-family: "Rubik", sans-serif;
}

.container {
  display: grid;
  grid-template-rows: 60px calc(100% - 60px);
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
  max-width: 1400px;
  padding: 0;
  margin: 0 auto;
  transition: all 0.3s ease;
}

/*=============Buttons==============*/
.btn-green {
  display: block;
  width: fit-content;
  border-radius: var(--border-rad);
	padding: 8px 30px;
	background-color: var(--color-green);
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: all 0.1s ease;
  border: none;
	-webkit-animation: pulsate-fwd 0.5s ease-in-out 1 both;
	        animation: pulsate-fwd 0.5s ease-in-out 1 both;        
}

.btn-green:hover {
  color: #fff;
}

.btn-green-3d {
  position: relative;
  display: block;
  width: fit-content;
  border-radius: var(--border-rad);
	padding: 8px 30px;
	background-color: var(--color-green);
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: all 0.1s ease;
  border: none;
  box-shadow: 0 4px 0 0 rgb(72, 114, 20);
	-webkit-animation: pulsate-fwd 0.5s ease-in-out 1 both;
	        animation: pulsate-fwd 0.5s ease-in-out 1 both;        
}

.btn-green-3d:hover {
  top: 1px;
  color: #fff;
  box-shadow: 0 3px 0 0 rgb(72, 114, 20);
}

.btn-green-3d:active {
  top: 3px;
  box-shadow: none;
}



/*============Animations============*/
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*========Responsive========*/







