@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*,
*:before,
*:after{
	box-sizing: border-box;
}

:root {
  --color-green: #70b01f;
  --color-blue: #0084ff;
  --color-bg-main: #152028;
  --color-bg-card: #202e39;
  --color-hover: #101b23;
  --color-sc: #7f8c96;
}

html, body {
  margin: 0;
  color: #fff;
  background-color: var(--color-bg-main);
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

i {
  display: flex;
  align-items: center;
}

input {
  font-family: "Rubik", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 240px calc(100% - 240px);
  grid-template-rows: 60px calc(100% - 60px);
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
  max-width: 1400px;
  margin: 0 auto;
}

/* ============ Bootstrap ============ */
.tooltip {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
	font-weight: 400;
  /*next 2 lines of code fixes lib bug connected with positioning*/
  top: 0;
  left: 0;	
}

/*==========scrollbar===========*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #354c5f;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5f89ab;
}



