.announcement {
	margin-bottom: 1rem;
	background-color: var(--color-bg-card);
	border-radius: 8px;
	padding: 10px 20px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.24);

  i {
    padding: 5px 10px;
    background-color: #101b23;
    border-radius: 8px;
  }
}

