.announcement {
	margin-bottom: 1rem;
	background-color: var(--color-bg-card);
	border-radius: var(--border-rad);
	padding: 10px 20px;
	box-shadow: var(--card-shadow);

  i {
    padding: 5px 10px;
    background-color: #101b23;
    border-radius: var(--border-rad);
  }
}

